__pycache__/
*.py[cod]
*$py.class
.venv*/
.vscode/
*.json
*.jsonl

.pyc
protoc-32.1-win64.zip
protoc-32.1-win64/
waymo_open_dataset/
venv-3.8/
Dockerfile.secrets
# Python bytecode
__pycache__/
*.py[cod]
*$py.class